/* .quote {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: black;
} */

/* couldn't get this styling to work - h2 was taking HomePage style and adding a class just did nothing...not sure what the problem is or what doing wrong?*/