.container {
    /* position: relative; */
    background-image: url("../assets/cat2mini.jpg");
    background-position: center center; /* means when you resize you get the center of the image in focus still */
    background-attachment: fixed; /*stops the image scrolling when the user scrolls */
    background-repeat: no-repeat; /*stops tiling/strange layout */
    background-size: cover; /*combined with the two above, this makes good setting for styling */
    height: 100vh;
    overflow: hidden;

    /* display: flex;
    flex-direction: column; */
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin: 1.5rem 1.5rem 1.5rem;
}

/* .cat_header {
    margin: 1.5rem 1.5rem -.5rem 1.5rem;
    color: black;
} */

/* .h3_cats {
    color: black;
} */

.cat_h1 {
    font-size: 4rem;
    /* font-weight: bolder; */
}

h2 {
    font-size: 2.75rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 4rem;
    min-width: 70%;
}

.h3_back {
    margin-top: -2rem;
    margin-bottom: -1rem;
}