.container {
    /* position: relative; */
    background-image: url("../assets/cat2mini.jpg");
    background-position: center center; /* means when you resize you get the center of the image in focus still */
    background-attachment: fixed; /*stops the image scrolling when the user scrolls */
    background-repeat: no-repeat; /*stops tiling/strange layout */
    background-size: cover; /*combined with the two above, this makes good setting for styling */
    min-height: 100vh; /*having this min-height means the page will scroll if elements go off the bottom of the immediately visible area*/
    overflow: hidden;

    /* display: flex;
    flex-direction: column; */
}

.bckbtndiv {
    position: relative;
    margin-top: 3rem;
}

.bckbtn {
    /* display: flex;
    flex-direction: row;
    align-self: flex-end; */
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.cat_header {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0;
}

/* .cat_header {
    margin: 1.5rem 1.5rem -.5rem 1.5rem;
    color: black;
} */

/* .h3_cats {
    color: black;
} */

.cat_h1 {
    font-size: 4rem;
    /* font-weight: bolder; */
}

.h2_cat {
    font-size: 2.75rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 4rem;
    min-width: 70%;
}

.h3_back {
    margin-top: .3rem;
    /* margin-bottom: -1rem; */
    margin-left: 2rem;
}