.container {
    position: relative;
    background-image: url("../assets/starbucksmini.jpg");
    background-position: center center; /* means when you resize you get the center of the image in focus still */
    background-attachment: fixed; /*stops the image scrolling when the user scrolls */
    background-repeat: no-repeat; /*stops tiling/strange layout */
    background-size: cover; /*combined with the two above, this makes good setting for styling */
    height: 100vh;
    overflow-x: hidden;

    /* display: flex;
    flex-direction: row; */
}

.bckbtndiv {
    position: relative;
    margin-top: 4rem;
}

.bckbtn {
    /* display: flex;
    flex-direction: row;
    align-self: flex-end; */
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
    text-shadow: 4px 4px 4px green;
}

a {
    text-decoration: none;
    color: inherit;
}

.ff_header {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0;
}

.h3_back {
    margin-top: .3rem;
    /* margin-bottom: -1rem; */
    margin-left: 2rem;
}

.ff_h1 {
    font-size: 4rem;
    /* font-weight: bolder; */
}

.h2_ff {
    font-size: 2.75rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 4rem;
    min-width: 70%;
}

.allfeeds {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h3feed {
    max-width: 100%;
    word-wrap: break-word;
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.progfeed {
    margin-top: 1rem;
    width: 28%;
    background: rgba(52, 143, 70, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
    /*added the below to make div independently scrollable*/
    max-height: 100vh;
    overflow-y: auto;
}

.historyfeed {
    margin-top: 1rem;
    width: 28%;
    background: rgba(52, 143, 70, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: auto;
}

.sylabfeed {
    margin-top: 1rem;
    width: 28%;
    background: rgba(52, 143, 70, 0.5);
    padding: 0.5rem;
    border-radius: 5px;
    max-height: 100vh;
    overflow-y: auto;
}

/*rgba(143, 52, 70, 0.5)*/