/*essentially same as HomePage just rendering choices for next page*/

.container {
    position: relative;
    background-image: url("../assets/home-page-cloudsmini.jpg");
    background-position: center center; /* means when you resize you get the center of the image in focus still */
    background-attachment: fixed; /*stops the image scrolling when the user scrolls */
    background-repeat: no-repeat; /*stops tiling/strange layout */
    background-size: cover; /*combined with the two above, this makes good setting for styling */
    min-height: 100vh;
    overflow: hidden;
}

.bckbtndiv {
    position: relative;
    margin-top: 2rem;
}

.bckbtn {
    /* display: flex;
    flex-direction: row;
    align-self: flex-end; */
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0rem 1.5rem 1.5rem 1.5rem;
}

.hd_content {
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    margin: 1.5rem 1.5rem 1.5rem;
}

h1 {
    font-size: 4rem;
    /* font-weight: bolder; */
}

h2 {
    font-size: 2.75rem;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 4rem;
    min-width: 70%;
}

.dose_selection {
    /*06/08/2022 removed as doesn't seem necessary
    position: absolute; */

    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem 2rem 1rem;;
    justify-content: space-around;
    align-content: space-around;
    /*width needed to made the items space-around, no idea why!*/
    width: 100%;
}