@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.writeout {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.2rem;
    position: absolute;
    color: rgb(255, 221, 165);
    outline: none;
    margin-left: 45%;
    margin-top: -30rem;
    height: 25rem;
    width: 50rem;
    max-width: 55%;
    padding: 15px;
    border: dashed;
    border-color: white;
    background-color: rgba(54, 40, 19, 0.2);
    /* background: linear-gradient(rgba(54, 40, 19, 0.2), rgba(54, 40, 19, 0.2)); */
    border-radius: 30px;
    /* for when fades back to this version on state update */
    transition: 3s;
}

.emptywriteout {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 1.2rem;
    position: absolute;
    color: rgb(255, 221, 165);
    outline: none;
    margin-left: 45%;
    margin-top: -30rem;
    height: 25rem;
    width: 50rem;
    max-width: 55%;
    padding: 15px;
    border: dashed;
    border-color: white;
    background-color:rgb(255, 221, 165);
    /* background: linear-gradient(rgb(255, 221, 165), rgb(230, 187, 118), rgb(237, 168, 58), rgb(219, 57, 3)); */
    border-radius: 30px;
    transition: all 3s;
}

.writeout_btn {
    position: absolute;
    background-color: rgb(237, 168, 58);
    font-size: 1.5rem;
    color: black;
    text-shadow: 1px 1px rgb(219, 57, 3);
    border-color:rgb(219, 57, 3);
    border-radius: 30px;
    margin-left: 65%;
    margin-top: -4rem;
    padding: 5px 60px;
}

.writeout_btn:hover {
    background-color:rgb(255, 221, 165)
}