.container {
    width: 18.75rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
    animation: ease-in;
    /*had to take out the below line as it was forcing the cards to stack on top of one another!*/
    /* position: absolute; */
    
    /*removed as positioning with flex in bigger div
    margin-left: 5rem;*/
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    background-color: rgba(255,255,255,0.8);
    border-radius: 3px;
    color: black;
}

.container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.imagecontainer img {
    margin-top: 1rem;
    overflow: hidden;
    height: 12.5rem;
}

.cardcontent {
    margin: 1rem;
    margin-top: 0.5rem;
}

/*h3 is wrapping for some reason?*/
.cardh3, .cardp {
    /*resetting default value*/
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.cardtitle {
    margin-bottom: 0.5rem;
}

/*this isn't working?*/
.cardbutton {
    display: flex;
    justify-content: center;
}

.cardbutton button{
    padding: 0.5rem;
    background-color: rgba(121, 79, 226, 0.5);
    border: none;
    transition: 0.2s;
    margin-bottom: 1rem;
    border-radius: 3px;
}

.cardbutton button:hover {
    background: rgba(148, 124, 209, 0.5);
    transform: scale(1.1);
    text-shadow: 1px 1px rgb(87, 34, 220);
}

.happy {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
}