@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');


body {
    background-image: url("./assets/home-page-clouds.png");
    background-position: center center; /* means when you resize you get the center of the image in focus still*/
    background-attachment: fixed; /*stops the image scrolling when the user scrolls */
    background-repeat: no-repeat; /*stops tiling/strange layout */
    background-size: cover; /* combined with the two above, this makes good setting for styling */
    background-color: rgb(65, 66, 68)
}

h1 {
    font-size: 2.5rem;
    /* font-weight: bolder; */
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

h3 {
    font-size: 1.5rem;
    width: 300px;
    max-width: 30%;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

header {
    margin: 1.5rem 1.5rem 1.5rem;
}

#main {
    position: relative;
}
/* 
.quote-text {
    background-color: red;
    max-width: 60%;
} */

.quote-text p {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
    background-color: rgba(220, 186, 231, 0.3);
    border-radius: 30px;
    margin-left: 32%;
    margin-right: 10%;
    margin-top: 10rem;
    font-family: 'Caveat', cursive;
}
