.quote p {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    text-shadow: 2px 2px rgb(153, 121, 250);
    background-color: rgba(220, 186, 231, 0.25);
    border-color: white;
    border-style: dashed;
    padding: 3.75rem;
    border-radius: 30px;
    
    /*06/08/2022 turned off as fighting styling the quote div in homepage
    margin-left: 32%;
    margin-right: 10%;
    margin-top: 5rem;*/

    font-family: 'Caveat', cursive;
    /* margin-top: 10%; */
}





/* .quote {
    display: flex;
} */

/* couldn't get this styling to work - h2 was taking HomePage style and adding a class just did nothing...not sure what the problem is or what doing wrong?*/